.pattern {
	background-color:pink;
	background-image:
	radial-gradient(circle at 100% 150%, pink 24%, white 25%, white 28%, pink 29%, pink 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, pink 24%, white 25%, white 28%, pink 29%, pink 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, white 10%, pink 11%, pink 23%, white 24%, white 30%, pink 31%, pink 43%, white 44%, white 50%, pink 51%, pink 63%, white 64%, white 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, white 5%, pink 6%, pink 15%, white 16%, white 20%, pink 21%, pink 30%, white 31%, white 35%, pink 36%, pink 45%, white 46%, white 49%, transparent 50%, transparent),
	radial-gradient(circle at 0    50%, white 5%, pink 6%, pink 15%, white 16%, white 20%, pink 21%, pink 30%, white 31%, white 35%, pink 36%, pink 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size: 100px 50px;
}